;; shadow-cljs configuration
{:source-paths ["src"]
 :dependencies []
 :builds {:code {:target :esm
                 :js-options {:js-provider :import}
                 :output-dir "src/shadow"
                 :modules {:index {:exports {scoby main.app/scoby}}}}}}